build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/learn_cpp_new_features.sln
build/learn_cpp_new_features.vcxproj
build/learn_cpp_new_features.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-6a8ece88dca768c1623b.json
build/.cmake/api/v1/reply/cmakeFiles-v1-5982e119bfb4315edbfd.json
build/.cmake/api/v1/reply/codemodel-v2-7db70fcc8701bdbe43ea.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-03-17T17-07-23-0778.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-a12ba02f646825a2a51f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-a12ba02f646825a2a51f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-a12ba02f646825a2a51f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-a12ba02f646825a2a51f.json
build/.cmake/api/v1/reply/target-learn_cpp_new_features-Debug-e315298c74195b45ad85.json
build/.cmake/api/v1/reply/target-learn_cpp_new_features-MinSizeRel-0936af53f95b71b52d79.json
build/.cmake/api/v1/reply/target-learn_cpp_new_features-Release-96166c7087db6b683ee9.json
build/.cmake/api/v1/reply/target-learn_cpp_new_features-RelWithDebInfo-cc345c3660d70ffb337e.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-5581226a930ebcae6e3b.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-5581226a930ebcae6e3b.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-5581226a930ebcae6e3b.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-5581226a930ebcae6e3b.json
build/.cmake/api/v1/reply/toolchains-v1-4230d8495687f53a8b8e.json
build/.vs/learn_cpp_new_features/FileContentIndex/9a35af24-9cbd-4805-89e0-6ce1626dd67c.vsidx
build/.vs/learn_cpp_new_features/v17/.suo
build/.vs/learn_cpp_new_features/v17/Browse.VC.db
build/.vs/learn_cpp_new_features/v17/Browse.VC.db-shm
build/.vs/learn_cpp_new_features/v17/Browse.VC.db-wal
build/.vs/learn_cpp_new_features/v17/Browse.VC.opendb
build/.vs/learn_cpp_new_features/v17/DocumentLayout.backup.json
build/.vs/learn_cpp_new_features/v17/DocumentLayout.json
build/.vs/learn_cpp_new_features/v17/Solution.VC.db
build/.vs/learn_cpp_new_features/v17/Solution.VC.db-shm
build/.vs/learn_cpp_new_features/v17/Solution.VC.db-wal
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.6/CMakeCCompiler.cmake
build/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.6/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.6/CMakeSystem.cmake
build/CMakeFiles/3.31.6/VCTargetsPath.txt
build/CMakeFiles/3.31.6/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.6/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.31.6/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.6/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.6/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.31.6/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.6/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.6/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/7593e1ae63f190e6aed3e8ecb92761c0/generate.stamp.rule
build/Debug/learn_cpp_new_features.exe
build/Debug/learn_cpp_new_features.pdb
build/learn_cpp_new_features.dir/Debug/function_declaration.obj
build/learn_cpp_new_features.dir/Debug/learn_cpp_new_features.Build.CppClean.log
build/learn_cpp_new_features.dir/Debug/learn_cpp_new_features.exe.recipe
build/learn_cpp_new_features.dir/Debug/learn_cpp_new_features.ilk
build/learn_cpp_new_features.dir/Debug/learn_cpp_new_features.log
build/learn_cpp_new_features.dir/Debug/learn_cpp_new_features.vcxproj.FileListAbsolute.txt
build/learn_cpp_new_features.dir/Debug/main.obj
build/learn_cpp_new_features.dir/Debug/vc143.pdb
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/CL.command.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/Cl.items.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/CL.read.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/CL.write.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/CustomBuild.command.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/CustomBuild.read.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/CustomBuild.write.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/learn_cpp_new_features.lastbuildstate
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/link.command.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/link.read.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/link.secondary.1.tlog
build/learn_cpp_new_features.dir/Debug/learn_cp.A9B01FFD.tlog/link.write.1.tlog
build/learn_cpp_new_features.dir/Debug/microsoft/STL/std.compat.ixx.ifc.dt.d.json
build/learn_cpp_new_features.dir/Debug/microsoft/STL/std.compat.ixx.ifc.dt.module.json
build/learn_cpp_new_features.dir/Debug/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
build/learn_cpp_new_features.dir/Debug/microsoft/STL/std.ixx.ifc.dt.d.json
build/learn_cpp_new_features.dir/Debug/microsoft/STL/std.ixx.ifc.dt.module.json
build/learn_cpp_new_features.dir/Debug/microsoft/STL/std.ixx.ifc.dt.module.json.command
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
